<section class="sidebar bg-darkgrey sticky d-flex flex-column">
  <!-- Sidebar Header -->
  <div class="py-5 px-2 text-center w-100">
    <span class="w-25">
      <img class="w-100" src="../../../assets/images/PMS.svg" alt="">
    </span>
  </div>

  <!-- Main Links Section -->
  <div class="mt-3 text-center flex-grow-1">
    <ul>
      <li>
        <a routerLink="/dashboard/category" routerLinkActive="bg-main-transparent">
          <span class="w-50">
            <img src="../../../assets/images/control-room.svg" alt="">
          </span>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="/dashboard/product" routerLinkActive="bg-main-transparent">
          <span class="w-50">
            <img src="../../../assets/images/dashboard-apps.svg" alt="">
          </span>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="/dashboard/order" routerLinkActive="bg-main-transparent">
          <span class="w-50">
            <img src="../../../assets/images/elements.svg" alt="">
          </span>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="/dashboard/user" routerLinkActive="bg-main-transparent">
          <span>
            <img src="../../../assets/images/settings.svg" alt="">
          </span>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="/dashboard/user" routerLinkActive="bg-main-transparent">
          <span class="w-50">
            <img src="../../../assets/images/notifications.svg" alt="">
          </span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Logout Section -->
  <ul class="text-center logout-section">
    <li>
      <a routerLink="/dashboard/user" routerLinkActive="bg-main-transparent">
        <span class="w-50">
          <img src="../../../assets/images/logout.svg" alt="">
        </span>
      </a>
    </li>
  </ul>
</section>
