// .opened {
//   div{
// transition: all .3s ease-in-out;
//   }
// }

.custom-col-1 {
  flex: 0 0 5%;
  max-width: 5%;
}

// .custom-col-2 {
//   flex: 0 0 9%;
//   max-width: 9%;
// }

.custom-col-11 {
  flex: 0 0 95%;
  max-width: 95%;
}

// .custom-col-10 {
//   flex: 0 0 91%;
//   max-width: 91%;
// }
